# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
*.egg-info/

# Test cache
.pytest_cache/

# Local environment files
.env
.env.local

# Docker files and Compose
docker-compose.override.yml

# Git-related files
.git
.gitignore

# Logs
*.log

# IDE-specific files
.vscode/
.idea/
*.swp

# Other unnecessary files
.DS_Store
*.bak
